@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

:root {
	--purple_bg: #c576f6;
	--purple: #9417e2;
	font-family: var(--ubuntu); 
	background: gray;
	--ubuntu: 'Ubuntu Condensed', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}
h4 {
	color: gray;
	font-size: 16px;
	width: 95%;
}

h3 {
	font-size: 18px;
}

.contact {
	padding: 10px;
	width: 200px;
	display: flex;
	background: white;
	flex-direction: column;
	border-bottom: 1px groove #c1c1c1;
}

.contact:hover {
	background: #c1c1c1;
}

.contact p {
	width: 71px;
	padding: 5px;
	color: var(--purple);
	font-size: 16px;
	background: var(--purple_bg);
	border-radius: 5px;
	text-align: center;
}

#co {
	width: 20px;
	height: 20px;
	background: red;
}



.n_strg {
	display: flex;
	flex-direction: row;
}

#cont {
	max-height: 600px;
	display: inline-block;
	overflow-y: scroll;
	overflow-x: hidden;
}

#cont::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: var(--purple);
}

#cont::-webkit-scrollbar-track {
	background: orange;
}
