@import url('config.css');

@import url('host.css');
@import url('shogi.css');

#gameBoard {
	top: 15px;
	width: 1050px;
	height: 600px;
	display: flex;
	margin: 0 auto;
	position: relative;
	background: #d6d6d6;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
