div#gridLayout {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
}

div#header {
	width: 100%;
	height: 10%;
}

/** include host/shogi/graph */
div#mainLayout {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
}