doctype html
html(lang='en')
	head
		title shogi
		link(rel='stylesheet', href='css/gameBoard.css')
	body
	div#gameBoard
		div#board
		div#host
		audio(src='sound/shft.mp3', type='audio/mpeg', id='shft', controls)
		audio(src='sound/erase.mp3', type='audio/mpeg', id='erase', controls)
	script(src='scripts/host/host.js', type='module')
	script(src='scripts/shogi.js', type='module')
