doctype html
html(lang='en')
	head
		title chess
		link(rel='stylesheet', href='css/app.css')
	body
		audio(src='sound/shft.mp3', type='audio/mpeg', id='shft')
		audio(src='sound/erase.mp3', type='audio/mpeg', id='erase') 
		div#chessLayout
			div#navLayout
				div#login
					img(src='svg/beach.jpg', alt='kyvsif')
					h2 Kyvsif
			div#gridLayout
				div#header
				div#mainLayout
					div#host
					div#boardLayout
					div#graphLayout
						//-div.coordinate_graph
							div#chart
						button(id='play') + Play
	script(src='scripts/shogi.js', type='module')
	script(src='scripts/host/host.js', type='module')
	//-script(src='scripts/charts/app.js', type='module')